body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.song-card {
  width: 300px;
  height: 350px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25vh;
  border-radius: 20px;
  position: relative;
  user-select: none;
  box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
  transition: box-shadow 500ms, transform 3s;
}

.song-card:hover {
  box-shadow: 0 20px 60px rgb(0 0 0 / 50%);
  transform: scale(1.1);
}

.song-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-card__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%);
}

.song-card__info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  transition: transform 300ms 50ms, opacity 250ms;
}

.song-card__info_artist {
  font-weight: bold;
}

.song-card__info_album {
  font-size: 12px;
}

.song-card__info_title {
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-card__play {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 50px;
  height: 50px;
  background-color: rgb(18, 218, 118);
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-70px);
  transition: transform 300ms;
}

.song-card__play .triangle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 13px;
  border-color: transparent transparent transparent #ffffff;
}
.song-card:hover .song-card__info {
  opacity: 0;
  transform: translateX(100%);
}

.song-card:hover .song-card__play {
  transform: translateX(0px);
}
